.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
  }

  .card-align{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
    background-color: wheat;
    width: 70%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  
  .inputLoc{
      
      border: solid 1 black;
  }

  .btnGet{
      float: inline-end;
  }

  .IonToolbar *{
    text-align: center;
  }